<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="StandAlonePersoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="StandAlonePersoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <StandAlonePersoApp.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PersoFilePath" serializeAs="String">
                <value>C:\Log\PersoApp\PersoFileLog</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Log\PersoApp\</value>
            </setting>
            <setting name="UserBranch" serializeAs="String">
                <value>0</value>
            </setting>
        </StandAlonePersoApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StandAlonePersoApp.Properties.Settings>
            <setting name="StandAlonePersoApp_ClientAPI_ClientAPI" serializeAs="String">
                <value>http://localhost/PersoApplication/ClientAPI.asmx</value>
            </setting>
        </StandAlonePersoApp.Properties.Settings>
    </applicationSettings>
</configuration>
