@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/dashboard")
<aside class="content-wrapper sidebarLeft">
    <div class="content container-fluid sidebarRight animated fadeInUp">
        <div class="row">
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-wrench fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Functions Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Function/AddFunction" id="/Function/AddFunction" style="font-size:12px;color:black">Add Function| </a>
                                <a name="ilinks" href="~/Function/ViewFunction" id="/Function/ViewFunction" style="font-size:12px;color:black">View Function|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Roles Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Role/AddRole" id="/Role/AddRole" style="font-size:12px;color:black">Add Role| </a>
                                <a name="ilinks" href="~/Role/ViewRole" id="/Role/ViewRole" style="font-size:12px;color:black">View Role|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bank fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Branch Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Branch/AddBranch" id="/Branch/AddBranch" style="font-size:12px;color:black">Add Branch| </a>
                                <a name="ilinks" href="~/Branch/ViewBranch" id="/Branch/ViewBranch" style="font-size:12px;color:black">View Branch|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>User Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/User/AddUser" id="/User/AddUser" style="font-size:12px;color:black">Add User| </a>
                                <a name="ilinks" href="~/User/ViewUser" id="/User/ViewUser" style="font-size:12px;color:black">View User|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Category Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/ProductCategory/AddProductCategory" id="/ProductCategory/AddProductCategory" style="font-size:12px;color:black">Add Category| </a>
                                <a name="ilinks" href="~/ProductCategory/ViewProductCategory" id="/ProductCategory/ViewProductCategory" style="font-size:12px;color:black">View Category|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-product-hunt fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Product Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Product/AddProduct" id="/Product/AddProduct" style="font-size:12px;color:black">Add Product| </a>
                                <a name="ilinks" href="~/Product/ViewProduct" id="/Product/ViewProduct" style="font-size:12px;color:black">View Product| </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-barcode fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Order Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Order/RequestOrder" id="/Order/RequestOrder" style="font-size:12px;color:black">Request Order| </a>
                                <a name="ilinks" href="~/Order/ViewOrder" id="/Order/ViewOrder" style="font-size:12px;color:black">View Order|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-money fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Fine Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Fine/ViewFines" id="/Fine/ViewFines" style="font-size:12px;color:black">View Fines|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-compass fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Password Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a href="~/User/ChangePassword" style="font-size:12px;color:black">Change Password| </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</aside>



