@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/dashboard")
<aside class="content-wrapper sidebarLeft">
    <div class="content container-fluid sidebarRight animated fadeInUp">
        <div class="row">
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-wrench fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Functions Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Function/AddFunction" id="/Function/AddFunction" style="font-size:12px;color:black">Add Function| </a>
                                <a name="ilinks" href="~/Function/ViewFunction" id="/Function/ViewFunction" style="font-size:12px;color:black">View Function|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Roles Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Role/AddRole" id="/Role/AddRole" style="font-size:12px;color:black">Add Role| </a>
                                <a name="ilinks" href="~/Role/ViewRole" id="/Role/ViewRole" style="font-size:12px;color:black">View Role|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bank fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Branch Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Branch/AddBranch" id="/Branch/AddBranch" style="font-size:12px;color:black">Add Branch| </a>
                                <a name="ilinks" href="~/Branch/ViewBranch" id="/Branch/ViewBranch" style="font-size:12px;color:black">View Branch|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>User Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/User/AddUser" id="/User/AddUser" style="font-size:12px;color:black">Add User| </a>
                                <a name="ilinks" href="~/User/ViewUser" id="/User/ViewUser" style="font-size:12px;color:black">View User|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cc-stripe fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Card Profile Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/CardProfile/AddCardProfile" id="/CardProfile/AddCardProfile" style="font-size:12px;color:black">Add Card Profile| </a>
                                <a name="ilinks" href="~/CardProfile/ViewCardProfile" id="/CardProfile/ViewCardProfile" style="font-size:12px;color:black">View Card Profile|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Customer Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Customer/RegisterCustomer" id="/Customer/RegisterCustomer" style="font-size:12px;color:black">Register Customer| </a>
                                <a name="ilinks" href="~/Customer/ViewCustomer" id="/Customer/ViewCustomer" style="font-size:12px;color:black">View Customer|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-download fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Perso File</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Perso/DownloadPersoFile" id="/Perso/DownloadPersoFile" style="font-size:12px;color:black">Download Perso File| </a>
                                <a name="ilinks" href="~/Perso/ResetDownload" id="/Perso/ResetDownload" style="font-size:12px;color:black">Reset Download| </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-anchor fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>System Configuration</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/System/SystemConfiguration" id="/System/SystemConfiguration" style="font-size:12px;color:black">System Configuration| </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-compass fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Password Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a href="~/User/ChangePassword" style="font-size:12px;color:black">Change Password| </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</aside>



